<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>品牌管理</title>
    <link rel="stylesheet" href="../elementui/css/elementui.css">
    <script src="../elementui/js/vue.js"></script>
    <script src="../elementui/js/elementui.js"></script>
    <script src="../elementui/js/axios.js"></script>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/layer/layer.js"></script>
    <script src="../static/js/alert-message.js"></script>
    <style>
        .imgcss {
            position: absolute;
            display: none;
        }
        .imgcss img {
            width: 200px;
            height: 200px;
        }
        .el-table .warning-row {
            background: oldlace;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="filter-wrap">
        <el-form :inline="true" :model="SearchModel" class="demo-form-inline">
            <el-form-item label="品牌名称" prop="BrandName">
                <el-input size='small' v-model="SearchModel.BrandName"></el-input>
            </el-form-item>
            <el-form-item label="有效性" prop="RowStatus">
                <template>
                    <el-radio v-model="SearchModel.RowStatus" label="1">有效</el-radio>
                    <el-radio v-model="SearchModel.RowStatus" label="2">无效</el-radio>
                </template>
            </el-form-item>
            <el-form-item>
                <el-button-group>
                    <el-button size="mini" type="primary" icon="el-icon-search" v-on:click="handleSelect">查询</el-button>
                    <el-button size="mini" type="warning" icon="el-icon-edit"
                               v-on:click="handleEdit(0)">新增
                    </el-button>
                </el-button-group>
            </el-form-item>
        </el-form>
    </div>
    <div class="data-Wrap">
        <el-table
                :data="tableData"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="ID"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="品牌名称"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="letter"
                    label="首字母"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="image"
                    label="图片"
                    width="300">
                <template slot-scope="scope">
                    <div style="position:relative" v-if="scope.row.image!=''">
                        <img :src="scope.row.image" height="40" width="40" v-on:mouseover="imgover(scope.row.image, $event)" v-on:mouseout="imgout">
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    prop="seq"
                    label="序号"
                    width="120">
            </el-table-column>
            <el-table-column label="操作" width="140">
                <template slot-scope="scope">
                    <el-button size="small" type="text" v-on:click="handleEdit(scope.row.id)">编辑</el-button>
                    <el-button size="small" type="text" v-on:click="handleDelete(scope.row.id)">删除</el-button>
                    <!--          <el-button type="text" @@click="showlog(scope.row.SBDId)">日志</el-button>-->
                </template>
            </el-table-column>
        </el-table>
    </div>
    <div class="page-wrap">
        <el-pagination v-on:current-change="handleSelect"
                       :current-page.sync="SearchModel.PageIndex"
                       :page-size="SearchModel.PageSize"
                       layout="total,prev, pager, next, jumper"
                       :total="totalCount">
        </el-pagination>
        <div style="clear:both"></div>
        <div id="imgdiv1" class="imgcss" v-bind:style="{'top':top+'px','left':left+'px'}"><img :src="imgUrl"></div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                SearchModel: {
                    PageIndex: 1,
                    PageSize: 10,
                },
                Config: {
                    // SPCProjectOption: {},
                },
                tableData: [],
                totalCount: 0,
                totalPage: 0,
                loading: false,
                imgUrl: "",
                top: "",
                left: "",
            }
        },
        created() {
            this.handleSelect();
        },
        methods: {
            getalldata() {
                axios.get(`/brand/list-all-brand.do`).then(resp => {
                    console.log(JSON.stringify(resp));
                    this.tableData = resp.data;
                });
            },
            imgover(url, e) {
                console.log(e)
                var event = e
                this.imgUrl = url;
                this.top = event.target.y;
                this.left = event.target.x + 2;
                $("#imgdiv1").css("display", "block");
            },
            imgout(url) {
                this.imgUrl = "";
                $("#imgdiv1").css("display", "none");
            },
            handleSelect() {
                const that = this;
                axios.post(`/brand/list-brand.do`, that.SearchModel).then(resp => {
                    // console.log(JSON.stringify(resp));
                    this.tableData = resp.data.results;
                    this.totalCount = resp.data.totals;
                });
            },
            handleEdit(id) {
                const that = this;
                const title = id > 0 ? '编辑' : "新增";
                const url = `/goods/brand-edit.html?id=${id}`;
                OpenEditPage(url, title, "800", "600", that.handleSelect);
            },
            handleDelete(id) {
                const that = this;
                const url = `/brand/del-brand.do?id=${id}`;
                axios.post(url).then(res => {
                    console.log(res);
                    that.alert.Success("删除成功");
                    that.handleSelect();
                }).catch(err => {
                    console.log(err);
                });
            },
        },
        mounted() {
        },
        computed: {}
    })
</script>
</html>