<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--es client-->
    <bean id="restHighLevelClient" class="com.jingdong.util.es.ESHighLevelFactory" factory-method="getRestHighLevelClient">
        <constructor-arg name="hostName" value="127.0.0.1"></constructor-arg>
        <constructor-arg name="port" value="9200"></constructor-arg>
    </bean>
</beans>